main {
    min-height: 500px;
}
.cardShopMaster {
    cursor: pointer;
}

.btn[disabled], .btn-group[disabled] {
    cursor: not-allowed;
}

a[disabled] {
    cursor: not-allowed;

}
a[disabled].btn-outline-success{
    color: #38c172;
    border-color: #38c172;
    background-color: white;

}
